extends ../layouts/admin
block content
  .breadcrumb
    span
      a(href='/') Client Page
    span.ml-2.mr-2  / 
    span Admin
    span.ml-2.mr-2  / 
    span Dash Board
  //- .container.col-11.mt-5.pt-4.pb-4(style='background:white')
  .chart.chart-bgred
    .chart__num 12.558
    .chart__label Người Truy Cập
    .chart__img.chart__img-img1
  .chart.chart-bgblue
    .chart__num 9.823
    .chart__label Sản Phẩm Đã Bán
    .chart__img.chart__img-img2
  .chart.chart-bgbluewhite
    .chart__num 5.423
    .chart__label Khách Hàng
    .chart__img.chart__img-img3
  .chart.chart-bgyellow
    .chart__num 7.000.256.000 VNĐ
    .chart__label Doanh Thu
    .chart__img.chart__img-img4
  .section
    .top-user__header TOP USER 2018
    table#top-user__table
      thead
        tr
          th
            i.far.fa-user
          th Họ Tên
          th Top
          th Email
          th Sản Phẩm Đã Mua
          th Thanh Toán
          th Tổng Giá Trị
          th Lượt Truy Cập
      tbody
        tr
          td
            img.top-user__img(src='image/user1.jpg', height='40')
          td
            span Nguyễn An Ninh
            label VIP | Tháng 8 2016
          td 1
          td
            span ninhnguyen375
            label @gmail.com
          td
            span 22.265
            label Sản Phẩm
          td
            i.fab.fa-cc-mastercard(style='font-size: 28px')
          td
            span 220.265.250
            label VND
          td
            span 55.658
            label 12 lần / ngày
        tr
          td
            img.top-user__img(src='image/user2.jpg', height='40')
          td
            span Phạm Phương Thanh
            label VIP | Tháng 8 2016
          td 2
          td
            span thanhpham456
            label @gmail.com
          td
            span 22.265
            label Sản Phẩm
          td
            i.fab.fa-cc-visa(style='font-size: 28px')
          td
            span 220.265.250
            label VND
          td
            span 55.658
            label 12 lần / ngày
        tr
          td
            img.top-user__img(src='image/user3.jpg', height='40')
          td
            span Huỳnh Khương Ninh
            label VIP | Tháng 8 2016
          td 3
          td
            span ninhkhuong375
            label @gmail.com
          td
            span 22.265
            label Sản Phẩm
          td
            i.fab.fa-paypal(style='font-size: 28px')
          td
            span 220.265.250
            label VND
          td
            span 55.658
            label 12 lần / ngày
        tr
          td
            img.top-user__img(src='image/user4.jpg', height='40')
          td
            span Đào Bá Tước
            label VIP | Tháng 8 2016
          td 4
          td
            span batuoc778
            label @gmail.com
          td
            span 20.265
            label Sản Phẩm
          td
            i.fab.fa-cc-visa(style='font-size: 28px')
          td
            span 120.265.250
            label VND
          td
            span 25.658
            label 12 lần / ngày
  a(href='/admin/product?page=1')
    .thong-ke
      .thong-ke__num 55.222
      .thong-ke__title Tổng Sản Phẩm
      .thong-ke__img.img1
  a(href='/admin/user?page=1')
    .thong-ke.mt-3
      .thong-ke__num 11.513
      .thong-ke__title Khách Hàng
      .thong-ke__img.img2
  a(href='/admin/bill?page=1')
    .thong-ke.mt-3
      .thong-ke__num 11.513
      .thong-ke__title Đơn Hàng
      .thong-ke__img.img3
  a(href='/admin/category?page=1')
    .thong-ke.mt-3
      .thong-ke__num 6
      .thong-ke__title Danh Mục SP
      .thong-ke__img.img4
