*{
	margin: 0;
	padding: 0;
	/* font-size: 14px; */
	outline: none !important;
}
.cantDelete{
	cursor: not-allowed;
}
.sua_thanh_cong{
	animation: success linear;
	animation-duration: 2s;
}
@keyframes success{
	0%{
		background: #00C900;
	}
	50%{
		background: white;
	}
}
.header{
	width: 100vw;
	height: 55px;
	border-bottom: 1px solid #c8ced3;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	background: white;
}
.title-header{
	/*font-family: "titleHeader";*/
	font-size: 20px;
	position: absolute;
	font-weight: bold;
	top: 50%;
	left: 20px;
	transform: translateY(-50%);
	color: gray;
}
.nav-right{
	float: right;
	height: 25px;
}
.nav-right *{
	float: left;
}
.ten-admin{
	font-size: 16px;
	font-weight: bold;
	margin-top: 17px;
}
.nav-right img{
	margin-top: 10px;
}
.left-menu{
	width: 200px;
	height: 92vh;
	background: #2F353A;
	position: fixed;
	top: 55px;
	left: 0;
	z-index: 100;
}
.left-menu__item{
	display: block;
	padding: 20px;
	text-decoration: none;
	color: white;
	font-size: 16px;
}
.left-menu__item span{
	margin-left: 10px;
}
.left-menu__item:hover{
	background: #20A8D8;
   text-decoration: none;
   color: white;
}
.active{
	background: #3a4248;
}
.icon{
	padding: 10px 20px 10px 20px;
	background-color: white;
	font-size: 10px;
}
.copyright{
	color: white;
	position: fixed;
	bottom: 10px;
	left: 20px;
}
#speed-icon{
	padding: 10px 20px 10px 20px;
	background-color: white;
	font-size: 10px;
    -webkit-mask: url(../image/icon/speed-icon.svg) no-repeat;
    mask: url(../image/icon/speed-icon.svg) no-repeat;
}
#user-icon{
	padding: 10px 20px 10px 20px;
	font-size: 10px;
	background-color: white;
    -webkit-mask: url(../image/icon/user-icon.svg) no-repeat;
    mask: url(../image/icon/user-icon.svg) no-repeat;
}
#product-icon{
	padding: 10px 20px 10px 20px;
	font-size: 10px;
	background-color: white;
    -webkit-mask: url(../image/icon/product-icon.svg) no-repeat;
    mask: url(../image/icon/product-icon.svg) no-repeat;
}
#don-hang-icon{
    -webkit-mask: url(../image/icon/don-hang-icon.svg) no-repeat;
}
#danh-muc-icon{
    -webkit-mask: url(../image/icon/danh-muc-icon.svg) no-repeat;
}
.main{
	margin-top: 55px;
	margin-left: 200px;
	background: #E4E5E6;
	min-height: 100vh;
	padding-bottom: 30px;
}
.breadcrumb{
	padding: 10px;
	width: 100%;
	border-bottom: 1px solid  #c8ced3;
	background: white;
}
.breadcrumb span{
	color: gray;
}
.section{
	width: 95%;
	margin: 30px auto;
	background: white;
	padding-top: 10px;
	padding-bottom: 10px;
}
#table-dh{
	width: 96%;
	border-collapse: collapse;
	border: 1px solid #c8ced3;
	background: white;
	border-spacing: 2px;
	margin: 20px auto;
}

#table-dh thead tr:first-child{
	background: #2F353A;
	height: 45px;
	color: white;
	border: 1px solid #2F353A;
	border-bottom: 2px solid #2F353A;
}
#table-dh thead tr:nth-child(2){
	height: 40px;
	color: #5C6873;
	/*border-bottom: 2px solid #C8CED3;*/
}

#table-dh thead tr:last-child{
	background: #E4E5E6;
	height: 40px;
	color: #5C6873;
	border-bottom: 2px solid #C8CED3;
}
#table-dh tbody td{
	height: 35px;
	border-bottom: 1px solid #C8CED3;
}
#table-dh tbody tr:hover{
	background: #F3F3F3;
	cursor: pointer;
}
#table-dh tbody td{
	text-align: center;
}





.chart {
    display: inline-block;
    width: 249px;
    height: 160px;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 5px;
    margin-right: -5px;
}

.chart__num {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding-top: 20px;
    margin-left: 21px;
}

.chart__label {
    color: white;
    font-size: 13px;
    margin-left: 21px;
    padding-top: 7px;
}

.chart__img {
    height: 76px;
    width: 249px;
}

.chart-bgred {
    border: 1px solid red;
    background: #F86C6B;
}


.chart-bgblue {
	border: 1px solid #2EADD3;
    background: #63C2DE;
}

.chart-bgbluewhite {
	border: 1px solid blue;
    background: #20A8D8;
}

.chart-bgyellow {
	border: 1px solid #C69500;
    background: #FFC107;
}

.chart__img-img1 {
	width: 247px;
	background: url(/public/img/chart.jpg);
	margin-left: -1px;
}
.chart__img-img4 {
	width: 247px;
    background: url(/public/img/chart_3.jpg);
}

.chart__img-img3 {
	width: 247px;
    background: url(/public/img/chart_2.jpg);
}

.chart__img-img2 {
	width: 247px;
    background: url(/public/img/chart_4.jpg);
}

.thong-ke {
    display: inline-block;
    position: relative;
    width: 250px;
    height: 100px;
    margin-top: 00px;
    margin-left: 30px;
    border-radius: 5px;
    margin-right: -5px;
    background: white;
    border: 1px solid #D0D0D0;
}
.thong-ke:hover{
    box-shadow: 1px 1px 5px gray;
}
.thong-ke__title {
    font-size: 15px;
    font-weight: bold;
    color: gray;
    padding-top: 15px;
    margin-left: 21px;
}

.thong-ke__num {
    font-size: 20px;
    font-weight: bold;
    color: black;
    padding-top: 20px;
    margin-left: 21px;
    width: 67px;
    text-align: center;
}
.thong-ke:hover .thong-ke__num{
    color: dodgerblue;
}

.img1 {
    background: url(../image/icon/product-icon.svg);
}
.img2 {
    background: url(../image/icon/user-icon.svg);
}
.img3 {
    background: url(../image/icon/don-hang-icon.svg);
}
.img4 {
    background: url(../image/icon/danh-muc-icon.svg);
}

.thong-ke__img {
    width: 50px;
    height: 50px;
    background-size: cover;
    position: absolute;
    top: 10px;
    right: 10px;
}


/*top-user*/
#top-user__table{
	width: 96%;
	border-collapse: collapse;
	border: 1px solid #c8ced3;
	background: white;
	border-spacing: 2px;
	margin: 20px auto;
}

#top-user__table thead tr{
	background: #E4E5E6;
	height: 50px;
	color: #5C6873;
	border-bottom: 2px solid #C8CED3;
}
#top-user__table tbody td{
	height: 35px;
	border-bottom: 1px solid #C8CED3;
}
#top-user__table tbody tr:hover{
	background: #F3F3F3;
	cursor: pointer;
}
#top-user__table tbody td{
	text-align: center;
}
.top-user__img{
	border-radius: 50%;
	margin-top: 20px;
	margin-bottom: 15px;
	border: 1px solid white;
}

label{
	font-size: 13px;
	color: gray;
	margin-top: 5px;
	display: block;
}
.top-user__header{
	font-size: 30px;
	font-weight: bold;
	color: gray;
	margin-left: 20px;
	padding-bottom: 30px;
}

.footer{
	padding-left: 200px;
	height: 50px;
	background: #F0F3F5;
	border-top: 1px solid #C5C5C5;
}
.footer div{
	padding-top: 14px;
	margin-right: 10px;
	text-align: right;
}
.footer a{
	text-decoration: none;
	color: blue;
}


.breadcrumb a{
	text-decoration: none;
	color: blue;
}

/* Product */
#table-sp{
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #c8ced3;
	background: white;
	border-spacing: 2px;
	margin: 20px auto;
}

#table-sp thead tr{
	background: #E4E5E6;
	height: 40px;
	color: #5C6873;
	border-bottom: 2px solid #C8CED3;
}
#table-sp tbody td{
	height: 35px;
	border-bottom: 1px solid #C8CED3;
}
#table-sp tbody tr:hover{
	background: #F3F3F3;
	cursor: pointer;
}
#table-sp tbody td{
	text-align: center;
}
#table-sp tbody td:nth-child(2){
	padding: 10px; 
}
#table-sp tbody td:nth-child(3){
	width: 212px;
}
.xoa_sp,.sua_sp{
	height: 33px;
	width: 65px;
	background: white;
	color: gray;
	border: 1px solid #C8CED3;
	margin-bottom: 10px;
	transition: 0.3s;
}
.xoa_sp:hover,.sua_sp:hover{
	background: #2F353A ;
	border: 1px solid #2F353A;
	color: white;
}
#table-sp tbody td:first-child,th:first-child{
	/*width: 66px;*/
	text-align: right;
}
.them-sp{
	text-align: right;
	margin-right: 20px;
}
.them-sp button{
	background: white;
	border: 2px solid  #C8CED3;
	color: #2F353A;
	padding:10px;
	transition: 0.3s
}
.them-sp button:hover{
	background: #2F353A ;
	border: 2px solid #2F353A;
	color: white;
}

.popup-themsp{
	display: none;
	background: rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 5;
}
.popup-themsp__content{
	position: absolute;
	top: 50%;
	left: 50%;
	background: white;
	width: 730px;
	height: 450px;
	transform: translate(-50%,-50%);
	border-radius: 15px;
}
.popup-themsp__title{
	text-align: center;
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 30px;
}
.popup-themsp-left{
	float: left;
	width: 45%;
	text-align: right;
}
.popup-themsp-right{
	float: right;
	width: 50%;
}
.popup-themsp-left__label,.popup-themsp-left__input{
	margin-top: 8px;
	height: 35px;
}
.popup-themsp-left__input input{
	border:0;
	margin-top: 0;
	border-bottom: 2px solid #CBCBCB;
	width: 275px;
	padding: 0 0 5px  5px;
	text-indent: 5px;
}
input[type=file]{
	font-size: 14px;
}
.popup-themsp__btn{
	position: absolute;
	bottom: 20px;
	background: #2FB016;
	border: 1px solid #CBCBCB;
	padding: 10px;
	width: 100px;
	color: white;
	left: 44%;
	transition: 0.3s;
	border-radius: 10px;
}
.popup-themsp__btn:hover{
	background: #3B872C;
}
.back{
	position: absolute;
	top: 5px;
	right: 20px;
	font-size: 35px;
	color: gray;
}
.back:hover{
	cursor: pointer;
	color: red;
	text-shadow: 0px 0 3px red;
}
.sua-hinh{
	position: absolute;
	top: 72px;
	left: 72px;
}
input[type=checkbox]{
	width: 20px;
	margin-left: 10px;
}
.hidden{
	display: none;
}
@media(max-width:769px){
	.title-header{
		font-size: 15px;
	}
	.ten-admin{
		font-size: 12px;
	}
	.fas.fa-user-lock.mr-2{
		display: none;
	}
	.admin-signout{
		font-size: 12px !important;
	}
	#listPages a{
		margin: 0;
	}
	table * {
		font-size: 12px;
	}
	.xoa_sp{
		margin-top: 5px;
		margin-right: 5px;
	}
	#table-sp tbody td:nth-child(3){
		width: 50px;
		padding-left: 5px;
	}
	#table-sp td:nth-child(6),#table-sp th:nth-child(6){
		display: none;
	}
	.left-menu{
		display: none;
	}
	.container-fluid{
		padding: 0 !important;
	}
	.table-sp{
		width: 100% !important;	
	}
	tbody img{
		display: none;
	}
	tbody td:first-child{
		display: none;
	}
	tr th:first-child{
		display: none;
	}
	tbody td:nth-child(2){
		display: none;
	}
	tr th:nth-child(2){
		display: none;
	}
}
.container-fluid{
	padding-right: 0 !important;
}
.hidden{
	display: none;
}
.show{
	display: block;
}
.nav-right{
	margin-right: 10px;
}
.footer{
	padding-left: 0 !important;
	margin: 0;
	border: none;
}