- const producerCurrent = producers.find(p => (p.producer_id == querys.producer))
- let start = (((querys.page) - 1)*6)
- let end = ((querys.page)*6)
- for(let i = start; i < end && i < products.length; i++)
  figure.snip1527.mt-3
    .image
      img(src= products[i].product_img, alt='pr-sample25')
    figcaption
      .date
        i.fas.fa-cart-plus
      h3= products[i].product_name
      h4= producerCurrent.producer_name
      p It is a long established fact that a reader will be distracted.
    a(href='/product/'+products[i].id)
    
      span.btn.btn-light.text-danger.border-danger.mt-1.ml-1= '$' + products[i].product_price
      span.border.rounded-0.showQuantity.btn.btn-light.text-capitalize='in stock: ' + products[i].quantity
