extends ../layouts/common
block content
  .container(style="padding-top:80px")
  h1 Your Cart
  each item in cart
    - let productCurrent = products.find((p)=>{return p.product_id == item.proId})
    - let producerCurrent = producers.find((p)=>{return p.producer_id == productCurrent.producer})
    p= "proId : " + item.proId 
    p= "quantity : " + item.quantity
    p= "proName : " + productCurrent.product_name
    p= "producer : " + producerCurrent.producer_name
    a(href="/cart/removeCart/"+item.id)
      button.btn.btn-danger.ml-2 Remove
    hr