doctype html
html
  head
    title This is Title :)
    
    link(rel="stylesheet", href="/public/css/bootstrap.min.css")
    link(rel="stylesheet", href="/public/fontawesome/css/all.min.css")
    link(rel="stylesheet", href="/public/css/styles.css")
    link(rel="shortcut icon", href="/public/img/icon.png")
  body
    block content
    script(src="/public/js/scripts.js")    
    script(src="/public/js/jquery.min.js")
    script(src="/public/js/popper.js")
    script(src="/public/js/axios.min.js")
    script(src="/public/js/bootstrap.min.js")
    